In [3]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [4]:
df = pd.DataFrame({
    "area":[2000,3000,3200,3600,4000],
    "bedrooms":[3.0,4.0,np.NaN, 3.0,5.0],
    "age": [20,15,18,30,8],
    "price": [550000,565000,610000,595000,760000]
})

In [5]:
df

   area  bedrooms  age   price
0  2000       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [6]:
import math
median_bedroom= math.floor(df.bedrooms.median())
median_bedroom

3

In [7]:
df.bedrooms= df.bedrooms.fillna(median_bedroom)

In [8]:
df

   area  bedrooms  age   price
0  2000       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [9]:
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']], df.price)

LinearRegression()

In [10]:
reg.predict([[3000,3,40]])

C:\Users\kisha\anaconda3\anaconda_download\New folder\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([501989.9103139])

In [11]:
reg.predict([[2500,4,5]])

C:\Users\kisha\anaconda3\anaconda_download\New folder\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([630628.36322869])